@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Classes for generic sections
@mixin darkness($from, $to) { 	
	// "darkens" background image
	position: relative;
	z-index: 0;
	&:before{
	z-index: -1;
	content: '';
	position: absolute;
	height: 100%; width: 100%;
	top: 0; bottom: 0; right: 0; left: 0;
	@include gradient($from, $to);
	}
}

//gradient mixin from https://gist.github.com/garyharan/957284
@mixin gradient($from, $to) {
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top,  $from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}